.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: green;
}

.flex div {
    color: white;
}

/* ======================================================================== */

.flex {
    width: 500px;
    height: 100px;
    border: 1px solid;
    display: flex;

    /* 
        gap 은 부모 flex 컨테이너에 설정해야 함에 주의.
    */
    /* gap: 10px; */
}

.container2 {
    flex-direction: column;
}

/* ======================================================================== */
/* 2. 주축에 나열되는 항목들의 none overflow 특성 */

.container4 {
    flex-direction: column;
}

.container3 div {
    width: 100%;
}

.container4 div {
    height: 100%;
}

/* ======================================================================== */
/* 3. 주축에 나열되는 항목들의 높이가 다른 경우 */

.flex.container5 {
    width: auto;
    height: auto;
}

.container5:hover .item3 {
    height: 100px;
}

/* ======================================================================== */
/* 4. flex-warp */

.container8,
.container9 {
    flex-direction: column;
}

.container6,
.container7,
.container8,
.container9 {
    flex-wrap: wrap;
}

.container6 div {
    width: 100%;
}

.container7 .item1 {
    width: 100%;
}

.container7 .item2,
.container7 .item3 {
    width: 50%;
}

.container8 div {
    height: 100%;
}

.container9 .item1 {
    height: 100%;
}

.container9 .item2,
.container9 .item3 {
    height: 50%;
}

.container6:hover,
.container7:hover,
.container8:hover,
.container9:hover {
    flex-wrap: wrap-reverse;
}